# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Virtual Environment
.env
venv/
env/

# PyCharm-specific files
.idea/

# Other files
.DS_Store
Thumbs.db
.coverage
.tox/
.eggs/

# Additional files to ignore
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDE-specific files (e.g., Sublime Text, Visual Studio Code)
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Package control specific files
Package Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

# mkdocs documentation
/site

# mypy
.mypy_cache/