{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header>
      <div class="max-w-7xl mx-auto text-2xl flex item-center justify-between">
        <div class="w-48">
          <img src="{% static 'images/IntelibizLogo.jpg' %}" alt="logo" />
        </div>

        <nav>
          <ul class="flex items-center gap-4">
            <li>
              <a class="" href="#">Home</a>
            </li>
            <li>
              <a href="#">customer</a>
            </li>
            <li>
              <a href="#">products</a>
            </li>
            <li>
              <a href="#">profile</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    {% block body %}{% endblock body %}
  </body>
</html>
